[Unit]
Description=Apply Flatpak system updates
Documentation=man:flatpak-update(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecCondition=/bin/bash -c '[[ "$(busctl get-property org.freedesktop.NetworkManager /org/freedesktop/NetworkManager org.freedesktop.NetworkManager Metered | cut -c 3-)" == @(2|4) ]]'
ExecStart=/usr/bin/sh -c '/usr/bin/flatpak --user uninstall --unused -y --noninteractive ; /usr/bin/flatpak --user update -y --noninteractive'
RestartSec=1h
Restart=on-failure

CapabilityBoundingSet=
ProtectSystem=full

[Install]
WantedBy=multi-user.target
